// Default variables
$react-coolors-use-custom-properties: true !default;
$react-coolors-link: #06f !default;
$react-coolors-widget-bg: #fff !default;
$react-coolors-widget-shadow: rgba(0, 0, 0, 0.11) !default;
$react-coolors-color-shadow: rgba(0, 0, 0, 0.08) !default;
$react-coolors-color-text-dark: #fff !default;
$react-coolors-color-text-light: #000 !default;
$react-coolors-border-radius: 14px !default;
$react-coolors-font-size: 14px !default;
$react-coolors-hover-basis: 80px !default;
$react-coolors-widget-height: 150px !default;
$react-coolors-info-height: 36px !default;
