@import "variables";

// Conditional styles
$__react-coolors-link: $react-coolors-link;
$__react-coolors-widget-bg: $react-coolors-widget-bg;
$__react-coolors-widget-shadow: $react-coolors-widget-shadow;
$__react-coolors-color-shadow: $react-coolors-color-shadow;
$__react-coolors-color-text-dark: $react-coolors-color-text-dark;
$__react-coolors-color-text-light: $react-coolors-color-text-light;
$__react-coolors-border-radius: $react-coolors-border-radius;
$__react-coolors-font-size: $react-coolors-font-size;
$__react-coolors-hover-basis: $react-coolors-hover-basis;
$__react-coolors-widget-height: $react-coolors-widget-height;
$__react-coolors-info-height: $react-coolors-info-height;
@if ($react-coolors-use-custom-properties) {
  $__react-coolors-link: var(--react-coolors-link);
  $__react-coolors-widget-bg: var(--react-coolors-widget-bg);
  $__react-coolors-widget-shadow: var(--react-coolors-widget-shadow);
  $__react-coolors-color-shadow: var(--react-coolors-color-shadow);
  $__react-coolors-color-text-dark: var(--react-coolors-color-text-dark);
  $__react-coolors-color-text-light: var(--react-coolors-color-text-light);
  $__react-coolors-border-radius: var(--react-coolors-border-radius);
  $__react-coolors-font-size: var(--react-coolors-font-size);
  $__react-coolors-hover-basis: var(--react-coolors-hover-basis);
  $__react-coolors-widget-height: var(--react-coolors-widget-height);
  $__react-coolors-info-height: var(--react-coolors-info-height);

  :root {
    --react-coolors-link: #{$react-coolors-link};
    --react-coolors-widget-bg: #{$react-coolors-widget-bg};
    --react-coolors-widget-shadow: #{$react-coolors-widget-shadow};
    --react-coolors-color-shadow: #{$react-coolors-color-shadow};
    --react-coolors-color-text-dark: #{$react-coolors-color-text-dark};
    --react-coolors-color-text-light: #{$react-coolors-color-text-light};
    --react-coolors-border-radius: #{$react-coolors-border-radius};
    --react-coolors-font-size: #{$react-coolors-font-size};
    --react-coolors-hover-basis: #{$react-coolors-hover-basis};
    --react-coolors-widget-height: #{$react-coolors-widget-height};
    --react-coolors-info-height: #{$react-coolors-info-height};
  }
}

.coolors-palette-widget {
  all: initial;
  background: $__react-coolors-widget-bg;
  border-radius: $__react-coolors-border-radius;
  box-shadow: inset $__react-coolors-widget-shadow 0 0 0 1px;
  display: block;
  height: $__react-coolors-widget-height;
  overflow: hidden;

  .colors {
    display: flex;
    height: calc(#{$__react-coolors-widget-height} - #{$__react-coolors-info-height});
    width: 100%;

    .color-box {
      box-shadow: inset $__react-coolors-color-shadow 0 1px, inset $__react-coolors-color-shadow 0 -1px;
      cursor: pointer;
      flex-basis: 1px;
      flex-grow: 1;
      overflow: hidden;
      position: relative;
      transition: all 0.1s ease-in-out;

      &:first-child {
        border-radius: $__react-coolors-border-radius 0 0;
        box-shadow: inset $__react-coolors-color-shadow 1px 1px, inset $__react-coolors-color-shadow 0 -1px;
      }

      &:last-child {
        border-radius: 0 $__react-coolors-border-radius 0 0;
        box-shadow: inset $__react-coolors-color-shadow -1px 1px, inset $__react-coolors-color-shadow 0 -1px;
      }

      &:hover {
        flex-basis: $__react-coolors-hover-basis;

        .color-code {
          opacity: 1;
        }
      }

      &.is-light .color-code {
        color: $__react-coolors-color-text-light;
      }

      .color-code {
        all: initial;
        color: $__react-coolors-color-text-dark;
        cursor: pointer;
        display: block;
        font-family: sans-serif;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
        margin-top: -7px;
        opacity: 0;
        position: absolute;
        text-align: center;
        top: 50%;
        transition: all 0.1s ease-in-out;
        width: 100%;
      }
    }
  }

  .info {
    display: flex;
    height: $__react-coolors-info-height;
    justify-content: space-between;
    padding: 0 15px;
    position: relative;
  }

  .info-name {
    all: initial;
    font-size: $__react-coolors-font-size;
    -webkit-font-smoothing: antialiased;
    line-height: $__react-coolors-info-height;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .info-link {
    color: $__react-coolors-link;
    cursor: pointer;
    font-size: $__react-coolors-font-size;
    line-height: $__react-coolors-info-height;
    margin-left: 20px;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
}
